body {
background-color: #FF0033;
color: #C70039;
font-family: "Bai Jamjuree", sans-serif;
display:flex;
justify-content: center;
align-items: center;
height: 700px;
margin: 0;

}
button {
 background-color:#E74C3;
 color:#C70039;
 font-family:"Bai Jamjuree", sans-serif;
}
